html,
body {
  height: 100%;
  background-color: grey;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  margin: 0;
}

@media (min-width: 750px) {
  html,
  body {
    background-image: linear-gradient(45deg, #ddd 0%, #6e7067 100%);
    overflow: hidden;
    margin: 0;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card {
  color: black;
  background-color: rgb(241, 235, 235);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 0 4rem 0 4rem;
}

@media (max-width: 600px) {
  .container-card {
    margin: 0 2rem 0 2rem;
  }
}

@media (max-width: 500px) {
  .container-card {
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  margin: 0;
}
@media (max-width: 425px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.nav-wrapper a {
  text-decoration: none;
  color: grey;
  padding: 1rem;
}

.nav-wrapper a:hover {
  color: black;
}

.nav-wrapper p {
  padding-right: 1rem;
  color: black;
  font-weight: bold;
  font-size: x-large;
  text-decoration: underline;
}

@media (min-width: 425px) {
  .nav-wrapper a {
    font-size: 1.5rem;
  }
  .nav-wrapper p {
    font-size: 1.8rem;
  }
}

.content-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 3;
}

@media (min-width: 750px) {
  .content-wrapper {
    padding-left: 3rem;
    padding-right: 5rem;
    width: 750px;
  }
}

@media (max-width: 425px) {
  .content-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

@media (min-width: 750px) {
  .article-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 2rem 0;
}

@media (max-width: 425px) {
  .content-wrapper {
    display: flex;
    align-items: center;
  }
  .article {
    display: flex;
    margin: 0 0 2rem 0;
    flex-direction: column;
  }
  p.article-txt {
    display: flex;
    align-self: center;
    padding: 0;
  }
}

.wrapper-image {
  background-image: url("./assets/view.jpg");
  background-size: cover;
  background-position: center;
  width: 300px;
}

@media (max-width: 950px) {
  .wrapper-image {
    flex: 0;
  }
}

.articleImg {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  flex-shrink: 0;
}

@media (max-width: 425px) {
  .articleImg {
    width: 100px;
    height: 100px;
  }
}

.img1 {
  background-image: url("./assets/tree.jpg");
}

.img2 {
  background-image: url("./assets/man.jpg");
}

.article-txt {
  padding-left: 1rem;
  color: darkgrey;
  font-style: italic;
}

h1 {
  display: flex;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 3rem;
  line-height: 2;
  border-bottom: 1px solid darkgray;
  padding-bottom: 3rem;
}

@media (max-width: 425px) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

h2 {
  text-transform: uppercase;
  margin: 0 0 2.5rem 0;
  padding: 0;
}

@media (max-width: 425px) {
  h2 {
    display: flex;
    align-self: center;
    font-size: 1.3rem;
  }
}
