html,
body {
  height: 100%;
  background-color: grey;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 985px) {
  html,
  body {
    background-image: linear-gradient(
      to right,
      rgba(141, 133, 133, 0),
      rgb(92, 86, 86)
    );
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card {
  margin: 1rem;
  color: black;
  background-color: rgb(241, 235, 235);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

@media (min-width: 500px) {
  .container {
    margin: 5rem;
  }
}

.wrapper-content {
  padding-left: 10vh;
  padding-right: 30vh;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  flex: 2 0 0%;
}

@media (min-width: 715px) {
  .article-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 5rem;
    flex: 2 0 0%;
  }
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav ul {
  padding-left: 0;
  margin: 0;
}

ul li {
  margin: 2rem 2rem 0 0;
}

ul li a {
  color: darkgray;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul a:hover {
  color: black;
}

h1 {
  display: flex;
  text-transform: uppercase;
  flex-wrap: wrap;
  font-size: 2rem;
  margin-top: 3rem;
}

h2 {
  text-transform: uppercase;
}

.wrapper-image {
  background-image: url("./assets/view.jpg");
  background-size: cover;
  background-position: center;
  min-width: 300px;
}

.article1-img {
  background-image: url("./assets/tree.jpg");
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.article2-img {
  background-image: url("./assets/man.jpg");
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
}
